.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }


@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  

 .a-hide{
    display: none;
}
