.profile-sctn .place-sctn {
    width: 100%;
    height: auto;
    background-color: #fff;
}

.place-sctn form{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-sctn form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-sctn-title {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.profile-sctn-title h2 {
    font-size: 2em;
    color: #D4145A;
    margin-left: 15%;
}

.profile-sctn-title p {
    font-size: 1em;
    color: #000;
    margin-left: 15%;
}


.profile-sctn-middle {
    width: 60%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
    /* border: 1px solid black; */
}

.profile-sctn-left {
    width: 50vh;
    height: 50vh;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.profile-sctn-left img {
    width: 40vh;
    height: 40vh;
    border: 0.1em solid #D4145A;
}

.profile-sctn-left button {
    color: #fff;
    background-color: #9E005D;
    width: 40vh;
    height: 5vh;
    font-size: 1em;
    border-radius: 0.7em;
    transition: all 0.6s ease;
    border: 0.1em solid #fff;
}

.profile-sctn-left button:hover {
    background-color: #662d9144;
    border: 0.1em solid #9E005D;
    color: #9E005D;
}

.profile-sctn-right{
    width: 30vw;
    height: 60vh;   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.form-group{
    height: 5vh;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}

.label-profile{
    width: 7vw;
    height: 2em;
   
}

.input-profile{    
    width: 23vw;
    height: 2.5em;
    border: 0.1em solid #9E005D;       
    border-radius: 0.7em;    
    color: #9E005D;
    font-size: 0.7em;
    font-weight: 700;
}
.button-profile{
    color: #fff;
    background-color: #9E005D;
    width: 7vw;
    height: 2em;  
    font-size: 1em;
    border-radius: 0.7em;
    transition: all 0.6s ease;
    border: 0.1em solid #fff;  
}

.button-profile:hover {
    background-color: #662d9144;
    border: 0.1em solid #9E005D;
    color: #9E005D;
}

.select-profile{
    width: 7vw;
    height: 2.5em;
    border: 0.1em solid #9E005D;       
    border-radius: 0.7em;    
    color: #9E005D;
    font-size: 0.7em;
    font-weight: 700;
}
.form-group-hobbies{
    height: 20vh;
    width: 100%;    
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}
.label-profile-hobbies{
    width: 100%;
}
.input-profile-hobbies{
    height: 6em;
    width: 100%;
    border: 0.1em solid #9E005D;       
    border-radius: 0.7em;    
    color: #9E005D;
    font-size: 0.7em;
    font-weight: 700;
}

.profile-sctn-about {
    width: 60%;
    height: 20vh;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items:flex-start;
    /* border: 1px solid black;  */
}

.profile-sctn-accept {
    width: 60%;
    height: 10vh;
    display: flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items:center;
    /* border: 1px solid black;  */
}

.button-profile{
    color: #fff;
    background-color: #9E005D;
    width: 20vw;  
    height: 2em;  
    font-size: 1em;
    border-radius: 0.7em;
    transition: all 0.6s ease;
    border: 0.1em solid #fff;  
}

.button-profile:hover{
    background-color: #662d9144;
    border: 0.1em solid #9E005D;
    color: #9E005D;
}

.form-group h2{
    font-size: 1.5em;
    color: #9E005D;
}