.profile-sctn .place-sctn {
    width: 100%;
    height: auto;
    background-color: #fff;
}

.place-sctn form{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-sctn form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-sctn-title {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.profile-sctn-title h2 {
    font-size: 2em;
    color: #D4145A;
    margin-left: 15%;
}

.profile-sctn-title p {
    font-size: 1em;
    color: #000;
    margin-left: 15%;
}

.map-middle{    
    width: 100%;
    height: 50vh;    
    border: 0.1em solid #9E005D;       
    border-radius: 0.7em;
}

.map-btn{
    color: #fff;
    background-color: #9E005D;
    width: 20vw;  
    height: 2em;  
    font-size: 1em;
    border-radius: 0.7em;
    transition: all 0.6s ease;
    border: 0.1em solid #fff;  
}

.map-btn:hover{
    background-color: #662d9144;
    border: 0.1em solid #9E005D;
    color: #9E005D;
}

.profile-sctn-middle-map{
    width: 60%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-end;  
    z-index: 0;
}

.profile-sctn-middle {    
    width: 60%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
    z-index: 0;
}

.profile-sctn-left {
    width: 50vh;
    height: 50vh;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.profile-sctn-left img {
    width: 40vh;
    height: 40vh;
    border: 0.1em solid #9E005D;       
    border-radius: 0.7em;  
}

.profile-sctn-left button {
    color: #fff;
    background-color: #9E005D;
    width: 40vh;
    height: 5vh;
    font-size: 1em;
    border-radius: 0.7em;
    transition: all 0.6s ease;
    border: 0.1em solid #fff;
}

.profile-sctn-left button:hover {
    background-color: #662d9144;
    border: 0.1em solid #9E005D;
    color: #9E005D;
}

.profile-sctn-right{
    width: 30vw;
    height: 60vh;   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.form-group{
    height: 5vh;
    width: 100%;   
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}

.label-profile{
    width: 7vw;
    height: 2em;
   
}

.input-profile-direction{
    width: 13vw;
    height: 2.5em;
    border: 0.1em solid #9E005D;       
    border-radius: 0.7em;    
    color: #9E005D;
    font-size: 0.7em;
    font-weight: 700;   
}


.button-profile-direction{
    color: #fff;
    background-color: #9E005D;
    width: 9vw;
    height: 2em;  
    font-size: 1em;
    border-radius: 0.7em;
    transition: all 0.6s ease;
    border: 0.1em solid #fff;
    margin-left: 1vw;  
    text-align: center;    
}

.button-profile-direction:hover {
    background-color: #662d9144;
    border: 0.1em solid #9E005D;
    color: #9E005D;
}


.input-profile{    
    width: 23vw;
    height: 2.5em;
    border: 0.1em solid #9E005D;       
    border-radius: 0.7em;    
    color: #9E005D;
    font-size: 0.7em;
    font-weight: 700;
}
.button-profile{
    color: #fff;
    background-color: #9E005D;
    width: 7vw;
    height: 2em;  
    font-size: 1em;
    border-radius: 0.7em;
    transition: all 0.6s ease;
    border: 0.1em solid #fff;  
}

.button-profile:hover {
    background-color: #662d9144;
    border: 0.1em solid #9E005D;
    color: #9E005D;
}

.select-profile{
    width: 13vw;
    height: 2.5em;
    border: 0.1em solid #9E005D;       
    border-radius: 0.7em;    
    color: #9E005D;
    font-size: 0.7em;
    font-weight: 700;
}
.form-group-hobbies{
    height: 20vh;
    width: 100%;    
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}
.label-profile-hobbies{
    width: 100%;
}
.input-profile-hobbies{
    height: 6em;
    width: 100%;
    border: 0.1em solid #9E005D;       
    border-radius: 0.7em;    
    color: #9E005D;
    font-size: 0.7em;
    font-weight: 700;
}

.profile-sctn-about {
    width: 60%;
    height: 20vh;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items:flex-start;
    /* border: 1px solid black;  */
}

.profile-sctn-accept {
    width: 60%;
    height: 10vh;
    display: flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items:center;
    /* border: 1px solid black;  */
}

.button-profile{
    color: #fff;
    background-color: #9E005D;
    width: 20vw;  
    height: 2em;  
    font-size: 1em;
    border-radius: 0.7em;
    transition: all 0.6s ease;
    border: 0.1em solid #fff;  
}

.button-profile:hover{
    background-color: #662d9144;
    border: 0.1em solid #9E005D;
    color: #9E005D;
}

.form-group h2{
    font-size: 1.5em;
    color: #9E005D;
}

.map-hide{
    display: none;
 }

 .fade-map {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }


@keyframes fade-map {
    from {opacity: .4} 
    to {opacity: 1}
  }
  



footer{
    width: 100%;
    height: auto;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line{
    width: 100%;
    height: 2vh;
    background-image: linear-gradient(to right, #662D91, #D4145A);
}

.footer-middle{
    width: 60%;
    height: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    background-color: #fff;
    /* border: 1px solid #000; */
}
.footer-left{
    width: auto;
    height: 25vh;
 display: flex;
 flex-direction: row;
 justify-content: flex-start;
 align-items: center;
}

.footer-left ul {
    display: flex;
 flex-direction: row;
 justify-content: flex-start;
 align-items: center;
}

.footer-left ul li a{
color: #9E005D;
font-size: 1.2em;
padding-right: 1em;
}

.footer-left ul li a:hover{
    color:#000;
    text-decoration:underline;       
}

.footer-right {
    width: auto;
    height: 25vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.footer-right img{
    margin-left: 1em;
    width: 15vh;
    height: 15vh;
    border:0.2em solid #fff;
    border-radius: 50%;
}
.footer-right img:hover{
    border:0.2em solid #662D91;    
}

